.ui.items > .item > .content > .header {
    font-family: "Source Sans Pro", sans-serif;
}

.article .checkmark-help-text {
    transition: .3s opacity;
    opacity: 0;
}

.article i:hover ~ .checkmark-help-text {
    opacity: 1;
}